# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages

after_success:
  - Rscript -e 'covr::codecov(line_exclusions = c("R/strings_deprecated.R", "R/files_deprecated.R", "R/RcppExports_deprecated.R", "R/utils_deprecated.R", "R/filesstrings.R"))'
